.desktop-app{
    background-color: #F8F9FE;
    overflow: auto;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 40px 200px;
}

@media screen and (max-width: 575px){
    .desktop-app{
        background-color: #F8F9FE;
        flex-flow: column;
        padding: 50px 10px;
        /* background-color: red; */
        /* height:700px ; */
    }
    
}

@media screen and (min-width:575px )and (max-width:992px){ 
    .desktop-app{
        background-color: #F8F9FE;
        flex-flow: column;
        padding: 50px 10px;
        /* background-color: red; */
        height:700px ;
    }
  }
