.deskimage{
   
    width:49%;
   
}

@media screen and (max-width: 575px){
    .deskimage{
        order:1;
        width:100%;
        margin-top: 0px;
        /* background-color: green; */
        /* height: ?600px; */
        /* justify-content: right; */

       
    }
    
}

@media screen and (min-width:575px )and (max-width:992px){ 
    .deskimage{
        order:1;
        width:80%;
        margin-top: 0px;
        margin-left: 40px;
        /* background-color: green; */
        /* height: ?600px; */
        /* justify-content: right; */

       
    }
    
  }