.left-banner-box{
    max-width:42%;
    /* height:500px; */
    /* background-color: red; */
    margin-left:80px;
    float:left;
    padding: 150px 50px;
}
.heading{
    font-weight: bolder;
    color:white;
}
.sub-heading{
    margin-bottom: 23px;
    font-size: 26px;
    color:white;
}
.text{
    margin-bottom: 55px;
    font-size: 18px;
}
.textone{
    margin-bottom: 55px;
    font-size: 17px;
    color:white;

}
.signup-btn{
    background-color: white;
    color:#5373E3;
    padding:10px 55px;
    border:none;
    /* transition: .7s; */
    /* cursor: pointer; */
    margin-right: 10px;
    border-radius: 5px;
}
.signup-btn:hover{
    background-color: white;
    color:black;
    padding:10px 55px;
    border:none;
    transform: translateY(5px);
  /* transition:0.5s all; */
  transition: 0.5s ease-in-out;
    /* cursor: pointer; */
    margin-right: 10px;
    border-radius: 5px;
}

.learn-btn{
    background-color:#0B2C4D;
    color:white;
    padding:10px 45px;
    border:none;
    /* cursor: pointer; */
    border-radius: 5px;
}
.learn-btn:hover{
    transform: translateY(5px);
    transition: 0.5s ease-in-out;

}

/* media queries starts here */
@media screen and (max-width:575px){
    .left-banner-box{
        max-width:100%;
        display:none;
        /* margin-top: -30px; */
       
        /* background-color: red; */
       
        margin-left:0px;
        padding: 0px 20px 50px 20px ;
    }
    .textone{
        margin-top: 30px;
        font-size: 18px;
        text-align: justify;
    }
    .signup-btn{
        margin-bottom: 20px;
    }
   
}
 @media screen and (min-width:575px )and (max-width:992px){ 
    .left-banner-box{
        max-width:100%;
        margin-left:0px;
        padding: 0px 20px 50px 20px ;
    }
    .textone{
        margin-top: 30px;
        font-size: 18px;
        text-align: justify;
    }
    .signup-btn{
        margin-bottom: 20px;
    }
   
  }
