.mobileimage-box{
    width:50%;
    /* background-color: red; */
    /* float: right; */
}
.platform-image{
    width:95%;
}
@media screen and (max-width: 575px){
    .mobileimage-box{
        width:100%;
        margin-top: 100px;
        order:1;
        /* background-color: green; */
      
    }
    .platform-image{
        width:100%;
    }
}
@media screen and (min-width:575px )and (max-width:992px){ 
    .mobileimage-box{
        width:80%;
        margin-top: 100px;
        order:1;
        /* background-color: green; */
        margin-left: 50px;
      
    }
    .platform-image{
        width:100%;
    }
}


